body {
    margin: 0px;
    padding: 0px;
    background-image: url("food_website_background_2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pageContainer {
    width: 60%;
}

#parent {
    background: white;
    align-self: center;
}

#header {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;

}

.line {
    background: black;
    width: 1px;
    margin-right: 5px;
    margin-left: 5px;

}

#logoContainer {
    display: flex;
    justify-content: center;
}

#imageContainer {
    display: flex;
    width: 100%;
    background: white;
    justify-content: center;
    padding-top: 15px;

}

#contentContainer {
    display: flex;
    background: white;
    justify-content: center;
    padding-top: 15px;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;



}

.description {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 25px;
    width: 100%;

}

.Title {
    display: flex;
    color: #ff61c8;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    justify-content: left;
    margin-bottom: 15px;


}

.subTitle {
    display: flex;
    color: #f95d9b;
    text-align: left;
    justify-content: left;
    margin-top: 15px;

}

.dies {
    padding: 20px;
    border-radius: 12px;
    font-family: 'Segoe UI', sans-serif;
    color: #5c4b51;
    list-style-type: disc;
    line-height: 1.8;
    margin-left: 20px;
    background-color: #fffaf5;
    width: fit-content;
}

.dies li {
    margin-bottom: 8px;
}