body {
    margin: 0px;
    padding: 0px;
    background-image: url("food_website_background_2.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
}

#parent{
    background: white;
    width: 70%;
    align-self: center;

}
#header{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;

}
.headeroption:hover{
    cursor: pointer;
}
.line{
    background: black;
    width: 1px;
    margin-right: 5px;
    margin-left: 5px;

}
#logoContainer{
    display: flex;
    justify-content: center;
}
#subHeader{
    display: flex;
    padding-top: 45px;
    padding-bottom: 25px;
    margin-left: 25px;
    margin-right: 15px;
}
.form{
    margin-right: 15px;
}

.formShape{
    width: 10px;
    margin-right: 15px ;
    margin-left: 15px;
}

#contentContainer{
    display: flex;
    align-items: center;
    flex-direction:column;
    padding-top: 40px;
}
.square{
    width: 95%;
    display: flex;
    flex-direction: row;
    
    margin-bottom:15px;
}  
.square1{
    
    display: flex;
    height: 350px;
    
} 
.square2{
    justify-content: space-between;
    display: flex;
    height: 350px;
    background: #ffeef9;
    padding: 15px;
    flex-direction: column;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    
} 
.write1{
    margin-bottom: 40px;
}
.write2{
    font-weight: 350px;
    font-size: 16px;
    text-align: left;
    
}
.post-footer {
  display: flex;
  justify-content: right;
  margin-top: 45px;
  padding: 10px;
  border-top: 1px solid #ccc;
  
}
.like-btn, .comment-btn {
  background: #ff6b81;
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 10px;
  border-radius: 8px;
  margin-right: 10px;
}

.article1{
    margin-bottom: 80px;
}
.article2{
    font-weight: 350px;
    font-size: 16px;
    text-align: left;
}
.posture{
    display: flex;
    justify-content: right;
    margin-top: 60px;
    padding: 10px;
    border-top: 1px solid #ccc;
}
.enjoy-btn, .commentary-btn{
   background: #ff6b81;
   color:white;
   border: none;
   padding: 10px 10px; 
   font-size: 10px;
   border-radius: 8px;
   margin-right: 10px;
}
.inscription1{
    margin-bottom: 80px;
}
.inscription2{
    font-weight: 350px;
    font-size: 16px;
    text-align: left;
}

.segment{
   display: flex;
   justify-content: right;
   margin-top: 60px;
   padding: 10px;
   border-top: 1px solid #ccc;
}

.see-btn, .look-btn{
    background: #ff6b81;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 10px;
    border-radius: 8px;
    margin-right: 10px;
}
.tablet1{
    margin-bottom: 80px;
}
.tablet2{
    font-weight: 350px;
    font-size: 16px;
    text-align: left;
}
.piece{
    display: flex;
    justify-content: right;
    margin-top: 60px;
    padding: 10px;
    border-top: 1px solid #ccc;
}
.hope-btn, .show-btn{
    background: #ff6b81;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 10px;
    border-radius: 8px;
    margin-right: 10px;
}
